---
version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # maven core artifacts are provided by the running maven, do not update to prevent consuming something unavailable
      - dependency-name: "org.apache.maven:*"
 - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
